<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>dui vivamus</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
        etiam sit amet
        nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
        interdum
        posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
        Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button mat-stroked-button color="primary">View Full Blog</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>dui vivamus</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
        etiam sit amet
        nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
        interdum
        posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
        Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button mat-stroked-button color="primary">View Full Blog</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>dui vivamus</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Volutpat ac tincidunt vitae semper quis lectus. Ut
        etiam sit amet
        nisl purus. Consectetur a erat nam at lectus urna duis convallis. Sit amet est placerat in egestas. Faucibus
        interdum
        posuere lorem ipsum dolor. Feugiat in fermentum posuere urna nec tincidunt praesent semper.
        Mauris ultrices eros in cursus turpis. Arcu dictum varius duis at consectetur lorem.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button mat-stroked-button color="primary">View Full Blog</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>dui vivamus</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Adipiscing vitae proin sagittis nisl rhoncus mattis. Elit pellentesque habitant morbi tristique
        senectus et. Nec feugiat nisl pretium fusce id velit ut tortor. Amet est placerat in egestas erat.
        Suspendisse ultrices gravida dictum fusce ut placerat. Libero enim sed faucibus turpis in eu mi bibendum neque.
        Massa tempor nec feugiat nisl pretium fusce id velit ut. Sodales neque sodales ut etiam sit amet. Quis vel eros
        donec ac odio. Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button mat-stroked-button color="primary">View Full Blog</button>
    </mat-card-actions>
  </mat-card>

