.search{
  padding-top: 50px;
}

.mat-form-field{

  width: 100%;

}

.myrow{
 height: 100px;
}

.mycolumn{
  padding: 10px;
}

.column{
  width: 75%;
  padding-top: 50px;

}

.example-card {
  max-width: 300px;
  transform: scale(1);
    transform: transition 0.5s ease;
}

.example-header-image {
  background-image: url('https://pickaface.net/gallery/avatar/InspireBuddy5290e4bdc07a4.png');
  background-size: cover;
}
