<div class="container">

  <div class="row myrow justify-content-center">
    <div class="col-06 col-sm-08 col-md-05 column">
      <mat-form-field>
        <input matInput placeholder="Search doctor by name or speciality">
      </mat-form-field>
    </div>
    <div class="col-02 col-sm-01 col-md-02 search">
      <button mat-icon-button>
        <mat-icon (click)="onSearch()">search</mat-icon>
      </button>
    </div>
  </div>
  <hr class="h-25 invisible">

  <div class="row resultrow justify-content-center">
    <div class="row">
      <div class="col-lg-04 col-sm-02 col-md-4 mycolumn">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dr.Shiba Inu</mat-card-title>
            <mat-card-subtitle>Nuerologist</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="viewDoctor()" mat-stroked-button color="primary" class="align-items-end">view more
              details</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-04 col-sm-02 col-md-4 mycolumn">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dr.Shiba Inu</mat-card-title>
            <mat-card-subtitle>Nuerologist</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="viewDoctor()" mat-stroked-button color="primary" class="align-items-end">view more
              details</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-04 col-sm-02 col-md-4 mycolumn">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dr.Shiba Inu</mat-card-title>
            <mat-card-subtitle>Nuerologist</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <button (click)="viewDoctor()" mat-stroked-button color="primary" class="align-items-end">view more
              details</button>
          </mat-card-actions>

        </mat-card>
      </div>

    </div>

    <div class="row justify-content-center">

      <div class="col-04 col-sm-04 col-md-4 mycolumn">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dr.Shiba Inu</mat-card-title>
            <mat-card-subtitle>Nuerologist</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="viewDoctor()" mat-stroked-button color="primary" class="align-items-end">view more
              details</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-04 col-sm-04 col-md-4 mycolumn">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dr.Shiba Inu</mat-card-title>
            <mat-card-subtitle>Nuerologist</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="viewDoctor()" mat-stroked-button color="primary" class="align-items-end">view more
              details</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-04 col-sm-04 col-md-4 mycolumn">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dr.Shiba Inu</mat-card-title>
            <mat-card-subtitle>Nuerologist</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="viewDoctor()" mat-stroked-button color="primary" class="align-items-end">view more
              details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <!-- enter -->
    <div class="row justify-content-center">

      <div class="col-04 col-sm-04 col-md-4 mycolumn">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dr.Shiba Inu</mat-card-title>
            <mat-card-subtitle>Nuerologist</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="viewDoctor()" mat-stroked-button color="primary" class="align-items-end">view more
              details</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-04 col-sm-04 col-md-4 mycolumn">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dr.Shiba Inu</mat-card-title>
            <mat-card-subtitle>Nuerologist</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="viewDoctor()" mat-stroked-button color="primary" class="align-items-end">view more
              details</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-04 col-sm-04 col-md-4 mycolumn">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dr.Shiba Inu</mat-card-title>
            <mat-card-subtitle>Nuerologist</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="viewDoctor()" mat-stroked-button color="primary" class="align-items-end">view more
              details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <hr class="h-25 invisible">
</div>
