<div class="row">

  <div class="center">
    <mat-vertical-stepper [linear]="true">
      <mat-step label="Email" [stepControl]="emailFormGroup">
        <form [formGroup]="emailFormGroup">
          <ng-template matStepLabel>Email</ng-template>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" #email formControlName="emailControl" required>
          </mat-form-field>
          <div class="container">
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step label="Password" [stepControl]="passwordFormGroup">
        <form [formGroup]="passwordFormGroup">
          <ng-template matStepLabel>Password</ng-template>
          <mat-form-field>
            <mat-label>Password </mat-label>
            <input matInput type="password" formControlName="passwordControl" placeholder="Password" required>
            <mat-hint>Min length Should be 8</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Previous</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
    <div class="container-sm">
      <div class="icon">
        <button mat-fab color="primary" [disabled]="!passwordFormGroup.valid">
          <mat-icon>trending_flat</mat-icon>
        </button>
      </div>
    </div>
  </div>


</div>
