.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}


mat-icon {
  display:flex;
  align-self:stretch;
}
.center {
  margin: auto;
  width: 30%;
  padding-top: 50px;
  padding-bottom: 200px;
}

.icon {
  margin: auto;
  width: 0%;
  padding-left: 10px;
}
