<div class="container">

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="3">

        <img class="image" mat-card-image
          src="https://image.freepik.com/free-vector/doctor-icon-avatar-white_136162-58.jpg" alt="Photo of a Shiba Inu">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <div class="name">
        <section class="mat-typography">
          <h1 style=" display: inline-block;">Dr. Sit amet luctus</h1>
          <button mat-raised-button color="primary" style="float: right">Book Appointment</button>
          <div class="scrollbar scrollbar-lady-lips reviews">
            <div class="force-overflow">
              <h2>About:</h2>
              <h3>Proin fermentum leo vel orci porta non pulvinar neque laoreet.
                Sit amet luctus venenatis lectus magna. Semper eget duis at tellus at urna.
                Non arcu risus quis varius. Varius sit amet mattis vulputate enim. Auctor urna nunc id cursus metus
                Proin fermentum leo vel orci porta non pulvinar neque laoreet.
                Sit amet luctus venenatis lectus magna. Semper eget duis at tellus at urna.
                Non arcu risus quis varius. Varius sit amet mattis vulputate enim. Auctor urna nunc id cursus
                metus.centerProin fermentum leo vel orci porta non pulvinar neque laoreet.
                Proin fermentum leo vel orci porta non pulvinar neque laoreet.
                Sit amet luctus venenatis lectus magna. Semper eget duis at tellus at urna.
                Non arcu risus quis varius. Varius sit amet mattis vulputate enim. Auctor urna nunc id cursus metus
                Proin fermentum leo vel orci porta non pulvinar neque laoreet.
                Sit amet luctus venenatis lectus magna. Semper eget duis at tellus at urna.
                Non arcu risus quis varius. Varius sit amet mattis vulputate enim. Auctor urna nunc id cursus
                metus.centerProin fermentum leo
                Proin fermentum leo vel orci porta non pulvinar neque laoreet.
                Sit amet luctus venenatis lectus magna. Semper eget duis at tellus at urna.
                Non arcu risus quis varius. Varius sit amet mattis vulputate enim. Auctor urna nunc id cursus metus
                Proin fermentum leo vel orci porta non pulvinar neque laoreet.
                Sit amet luctus venenatis lectus magna. Semper eget duis at tellus at urna.
                Non arcu risus quis varius. Varius sit amet mattis vulputate enim. Auctor urna nunc id cursus
                metus.centerProin fermentum leo
              </h3>
            </div>

          </div>

        </section>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="5">
      <div class="scrollbar scrollbar-lady-lips center">
        <div class="force-overflow">
          <section class="mat-typography">
            <h2>Reviews:</h2>
            <h3>1.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>
            <h3>2.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>
            <h3>1.Proin fermentum leo vel orci porta non pulvinar neque laoreet Non arcu risus quis varius. Varius sit
              amet mattis vulputate enim.
              Auctor urna nunc id cursus metus.centerProin fermentum leo vel orci porta non pulvinar neque laoreet..
            </h3>
            <hr>
            <h3>2.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>

            <h3>1.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>
            <h3>2.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>
            <h3>1.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>
            <h3>2.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>
            <h3>1.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>
            <h3>2.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>
            <h3>1.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
            <hr>
            <h3>2.Proin fermentum leo vel orci porta non pulvinar neque laoreet.</h3>
          </section>
        </div>

      </div>
    </mat-grid-tile>

  </mat-grid-list>

</div>
