.my-row{

  padding-top: 20px;
  height: 300px;
  border-radius: 25px;
}

.bookingrow{

  padding:20px;
  height: auto;

}


.timingrow{
  height: 80px;
}


.mat-tab-group {
  margin-bottom: 60px;
}

.appointmnetbutton{
  padding-left: 15px;
}

.my-container{
background-color: silver;
}


img{
  width: 100%;
  height: 20rem;
}

.rewviesection{
  padding: 20px;
}

.details{
  padding-left: 10px;

}

.example-card {
  max-width: 1200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.confirm{

  width: 100%;

}

.myappointment{
  border: thin silver;
}
